<template>
  <div>
   
    <b-navbar toggleable="lg" type="dark" variant="dark">
    
    </b-navbar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
name: 'MyComponent',
   
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 24px;
  height: 100vh;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  list-style: none;
  padding: 15px 7px;
  margin: 0;
  justify-content: flex-end;
  background: #f5f8fa;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 24px;
}
.nav a {
  color: #636b6f;
  padding: -2px 5px;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
// Auth Pages
label {
  display: block;
  margin-bottom: 4px;
}
.login-heading {
  margin-bottom: 16px;
}
.form-control {
  margin-bottom: 24px;
}
.form-control1 {
  margin-bottom: 15px;
}

.form-control11 {
  margin-bottom: 20px;
  width: 30%;
}

.lab {
  max-width: 500px;
  margin: auto;
  width: 20%;
  font-size: 20px;
  padding: -2px 10px;
  outline: 3;
  //border-radius: 6px;
  //border: 3px solid lightgrey;
}

.mb-more {
  margin-bottom: 42px;
}
.login-form {
  max-width: 500px;
  margin: auto;
}
.login-input {
  width: 70%;
  font-size: 20px;
  padding: -2px 10px;
  outline: 3;
  border-radius: 6px;
  border: 3px solid lightgrey;
}

.login-input1 {
  width: 70%;
  font-size: 10px;
  padding: -2px 15px;
  outline-width: 3;
  border-radius: 6px;
  border: 3px solid lightgrey;
}

.btn-submit {
  width: 100%;
  padding: -7px 5px;
  font-size: 12px;
  font-weight: bold;
  background: #60bd4f;
  color: rgb(5, 4, 4);
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    background: darken(#60bd4f, 10%);
  }
}

.item {
  padding: 8px 10px;
  font-size: 20px;
}
</style>
