<template>
  <div>

    <div id='record-info'>

     <div class="okvir">
    <h3 id="naziv" class="naziv">{{ploca.name}}</h3>
    <h5 id="izvidjac" class="izvidjac">{{ploca.author}}</h5>
    <b-card >
      <b-card-text >
        <h6 class="opis">Opis:</h6>
        {{ploca.info}}
      </b-card-text>
      <b-button  class="dugmence" @click="prosledi()">Uredi</b-button>
    </b-card>
       <input v-if="izmena==1"
          maxlength="2500"
          multiple
          width="50px"
          type="text"
          class="form-control"
          placeholder="Novi opis..."
          v-model="Opis"
        />
      <b-button  v-if="izmena==1" @click="izmeniOpis()">
                        <b-icon icon="pencil" aria-hidden="true"></b-icon>
                           Izmeni      
                      </b-button>

      
  
    <div class="rating">
    
    </div>
     </div>
 

    <div >
      <b-card-group deck>
      
       <b-card >
       <b-card-text >
         <h6 class="pesma">Poslusajte pesmu sa albuma:</h6>
        <div>
  <b-embed
  controls 
    type="iframe"
    aspect="16by9"
    :src="ploca.demo"
    allowfullscreen
  ></b-embed>
</div>


 <!-- <figure>
    <figcaption>Pusti demo::</figcaption>
    <b-audio
        controls
        src="https://drive.google.com/file/d/1XOgXThVrHZy2xjPzogeNJC5hsefw83xn/view?usp=sharing">
            Your browser does not support the
            <code>audio</code> element.
    </b-audio> 
</figure> -->
      
 </b-card-text>
     
       </b-card>
    </b-card-group>
   
    </div>
  </div>
  <div class="line-title">
    <div class="line-title-left">
      <div class="line-title-spacer">
      </div>
    </div>
    <div class="line-title-center">
       <h4>POGLEDAJTE I OSTALE PLOČE</h4>
    </div>
    <div class="line-title-right">
      <div class="line-title-spacer">
      </div>
    </div>
  </div>

  <b-row v-if="this.vinyls.length" id="nesto">
 <b-col md="3" v-for="vinylInfo in this.vinyls" :key="vinylInfo.id" class="col">
        <b-card 
          border-variant="dark"
          :header="vinylInfo.name"
          header-bg-variant="dark"
          header-text-variant="white"
          align="center"
  
        >
         
          <b-card-text>Autor: {{vinylInfo.author}}</b-card-text>
          <b-card-text>Format: Vinyl, LP, Album</b-card-text>
          <b-card-text>Zanr: {{vinylInfo.category}}</b-card-text>
           <b-card-footer class="links-light profile-card-footer">
              <span class="right">
                    <a class="p-2" href="#profile" >
                       <button @click="osvezi"> <router-link :to="{ name: 'Vinyl',params:{id: vinylInfo.id} }">See more info</router-link></button>
                        
                    </a>
                </span>
               
           </b-card-footer>
        </b-card>
      </b-col> 
  </b-row>

<!-- Footer -->
  <mdb-footer color="stylish-color-dark" class="page-footer font-small pt-4 mt-4">
    
    <hr />
    <div class="text-center">
      
    </div>
    <div class="footer-copyright text-center py-3">
      <mdb-container fluid>
        &copy; 2020 Copyright: <a href=""> 2D 3/4 </a>
      </mdb-container>
    </div>
  </mdb-footer>
  <!-- Footer -->


  </div>
  
</template>

<script>
import axios from 'axios'
import { mdbFooter, mdbContainer} from 'mdbvue';
export default {
   props:["id"],
   components: {
    mdbFooter,
    mdbContainer
  },

    data () {
    return {
      izmena:0,
      commentForEdit: null,
      vinyls:[],
      ploca:null,
      recievingArray: [],
      comments: [],
      songs: [],
      opisForEdit: null,
  
      author:"",
      category:"",
      demo:"",
      //id:"",
      info:"",
      name:"",
     Opis:""
    }
    },
  // props: {
  //   record: Object
  // }, 
  methods:{
     
  setVinylsFromData() {
      this.recievingArray.map(item => {
        let vinylInfo={
          author: item.author,
          category: item.category,
          demo: item.demo,
          id: item.id,
          info: item.info,
          name: item.name,
          comments: item.comments
        }
       
        this.vinyls.push(vinylInfo)
      })
     
    },
    osvezi(){
       window.location.reload()
    },

   prosledi(){
      // this.opisForEdit = this.vinyls.find(x => x.id == id)
      this.Opis=this.ploca.info;
      this.izmena=1
  },

  izmeniOpis() {
    
   // this.opisForEdit = this.ploca.find(x => x.id == id)
    // this.Opis=this.opisForEdit.info;
      //this.Opis="123test";
     
       axios({
            method: 'put',
            url: 'http://localhost:8080/Vinyl/Update/Record/',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Content-Type': 'application/json',
              Accept: 'application/json',
              Authorization: 'Bearer ' + localStorage.token
            },
            data: {
             info:this.Opis,
             id:this.id,
             author:this.author,
             demo:this.demo,
             category:this.category,
             name:this.name

            }
          })
            .then(response => {
              console.log(response)
               this.Opis=""
              window.location.reload()
              
            })
  },
  
  },

   created()
     {
       axios
      .get('http://localhost:8080/Vinyl/Record/' + this.id)
      .then(response => {
        this.ploca=response.data
        console.log("ploca", response)
        //console.log("ploca", this.ploca)
        
      })
      .catch(error => {
        console.log(error.response)
      })

       axios
      .get('http://localhost:8080/Vinyl/Records')
      .then(response => {
        this.prom=1
        console.log(response.data)
        this.recievingArray = response.data
        this.setVinylsFromData()
      })
      .catch(error => {
        console.log(error.response)
      })
     }
     
}
</script>

<style>
.okvir{
  padding: 3%;
 
   background-color: rgb(204, 198, 192);
}
.opis{
  text-align: left;
  padding-left: 40px;
}
.pesma{
  padding-top: 10px;
   padding-bottom: 17px;
}
.rating{
  padding-top: 100px;
}

.lista{
  padding-left: 90px;
   background-color: rgb(204, 198, 192);
   padding-right: 900px;
}
.col{
  width: 100%;
}
.komentari{
  
  margin-top: 25px;
}
.komentar{
  width: 100%;
}

.line-title-spacer {
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    background: #000;
    height: 1px;
}

.line-title {
  margin-top: 80px;
  margin-bottom: 50px;
    height: auto;
    overflow: auto;
    display: flex;
}

.line-title-left, .line-title-right {
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 40px;
    position: relative;
}

.trazi{
  display: flex;
  align-items: center;
}

.form-control{
  margin-top: 13px;
}

.dugmence{
  margin-bottom: 11px;
  margin-left: 8px;
}

.drop{
   float:right;
}
</style>